<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Help Desk</mat-card-title>
    <mat-card-subtitle>Dicas de um dev</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/img/home-image.svg" alt="home image">
  <mat-card-content class="card-content">
    <p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda numquam blanditiis ad magnam 
     reprehenderit praesentium? <br>Deserunt, cum saepe accusamus repellendus architecto laudantium dignissimos 
     facilis repudiandae inventore hic, labore magni iste? <br>
     <br>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos maiores dolor molestias 
     non voluptas autem commodi et quia,
     labore <br> dolorum distinctio rerum quas alias numquam atque pariatur esse similique natus!
    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>